nav img {
  height: 40px;
}

h5 a {
  text-decoration: none;
  color: black;
}

.houseBigImageLeft {
  width: 100%;
}

.row-cols-3 img {
  width: 100%;
  margin-bottom: 10px;
}

.loginBody {
  background-image: url('https://res.cloudinary.com/dsko6ntfj/image/upload/v1642399115/portal/web%20development%20beginners/05%20Project%20Airbnb/assets/thailand.jpg');
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
}

/* Attempt to put buttons closer together top right
.userButton {
  margin-right: 0;
} */

.avatarimg {
  width: 20px;
  height: 20px;
  display: inline-block;
}
